@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Roboto:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(#006eff, #002eff), url("");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: "League Spartan", sans-serif;
}

.container{
    max-width: 1400px;
    padding: 3%;
    margin: 0 auto;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo{
    font-size: 35px;
    font-style: italic;
    color: white;
    font-weight: bold;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    padding: 10px 20px;
    text-decoration: none;
    font-size: 19px;
    color: white;
    border-radius: 30px;
    transition: 0.6s;
}

nav ul li a:hover{
    background-color: #006eff;
    color: white;
}

/* Estilos do carrossel */
.carousel-container {
    position: relative;
    max-width: 100%;
    margin-top: 50px;
}

.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.carousel-item {
    display: none;
    text-align: center;
    max-width: 100%;
}

.carousel-item img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 20px 0;
    border-radius: 8px;
}

.carousel-item h2 {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 10px;
}

.carousel-item p {
    font-size: 1.2rem;
    color: #ffffff;
}

/* Botões de navegação */
button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 1.5rem;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
